#[include shell_command.cfg]
#V400 Nano 2.0 

########################################
# Included Files
########################################

[include macros.cfg]
[include timelapse.cfg]  #Enable if you want to use Timelapse
[include neopixels.cfg]  #Enable if you want to use Neopixels
[include calibration.cfg]  #Calibration macros
[include config_backup.cfg]
#[include pisadxl.cfg]  #Enable if you want to use ADXL with Fysetc Portable Input Shaper


[save_variables]
filename: ~/printer_data/config/variables.cfg

[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[pause_resume]

[display_status]

[respond]

# Enable object exclusion
[exclude_object]

[virtual_sdcard]
path: ~/printer_data/gcodes


########################################
# Printer & MCU Settings
########################################

[printer]
kinematics: delta
max_velocity: 600
#max_accel: 10000
max_accel: 20000
#max_accel_to_decel: 3000
square_corner_velocity: 5
max_z_velocity: 80
max_z_accel: 1500
print_radius: 152
minimum_z_position: -25
#delta_radius: 152

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[idle_timeout]
timeout: 1800
gcode =
  {% if printer.pause_resume.is_paused %}
    M104 S0
  {% else %}
    TURN_OFF_HEATERS
    #M84
  {% endif %}

########################################
# Input Shaper Settings
########################################

#[input_shaper]  #1.1% vibr at 15k
#shaper_freq_x: 52.2
#shaper_type_x = zv
#shaper_freq_y: 53.0
#shaper_type_y = zv

[input_shaper] #0% vibr 8k max
shaper_freq_x: 55.8
shaper_type_x: mzv
shaper_freq_y: 53.4
shaper_type_y: mzv
damping_ratio_x: 0.75
damping_ratio_y: 0.75

[firmware_retraction]
retract_length: 0.8
retract_speed: 35
unretract_extra_length: 0
unretract_speed: 35




########################################
# X Stepper Motor & Driver Settings config 
########################################

[stepper_a]
step_pin: PE3
dir_pin: PE2  
enable_pin: !PE4
#microsteps: 64
microsteps: 16 # Enable this and, disable 64 to run input shaper in some cases klipper will report a error with the adxl just run the shaper_calibrate command again. 
rotation_distance: 40
endstop_pin: ^PA15
homing_speed: 60
homing_retract_dist: 0
#position_endstop: 415 
#arm_length: = 345 

[tmc2209 stepper_a]
uart_pin: PD5
run_current: 1.5
hold_current: 0.5
driver_HSTRT: 0
driver_HEND: 3 
sense_resistor: 0.110
interpolate: False 
stealthchop_threshold: 0



########################################
# Y Stepper Motor & Driver Settings 
########################################

[stepper_b]
step_pin: PE0
dir_pin: PB9  
enable_pin: !PE1
#microsteps: 64
microsteps: 16 # Enable this and, disable 64 to run input shaper.
rotation_distance: 40
endstop_pin: ^PA12
homing_speed: 60
homing_retract_dist: 0
					
[tmc2209 stepper_b]
uart_pin: PD7
run_current: 1.5
hold_current: 0.5
driver_HSTRT: 0
driver_HEND: 3 
sense_resistor: 0.110
interpolate: False 
stealthchop_threshold: 0




########################################
# Z Stepper Motor & Driver Settings 
########################################


[stepper_c]
step_pin: PB5
dir_pin: PB4  
enable_pin: !PB8
#microsteps: 64
microsteps: 16 # Enable this and, disable 64 to run input shaper. 
rotation_distance: 40
endstop_pin: ^PC4
homing_speed: 60
homing_retract_dist: 0
					

[tmc2209 stepper_c]
uart_pin: PD4
run_current: 1.5
hold_current: 0.5
driver_HSTRT: 0
driver_HEND: 3 
sense_resistor: 0.110
interpolate: False 
stealthchop_threshold: 0


########################################
# Extruder & Driver Settings
########################################

[extruder]
step_pin: PD6
dir_pin: !PD3  # motor direction pin
enable_pin: !PB3
microsteps: 16
gear_ratio: 50:10
rotation_distance: 22.667233 #22.67895 # 4.5  # E-Steps Extruder (rotation_distance) --> [extruder] section --> <rotation_distance> = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: ATC Semitec 104NT-4-R025H42G #EPCOS 100K B57560G104F
#sensor_type: flsun_thermistor #Generic 3950
sensor_pin: PC1
#smooth_time: 0.2
min_temp: -5  # extruder min temp
max_temp: 315  # extruder max temp-15c
max_extrude_cross_section:50 #0.640
max_extrude_only_distance: 800
instantaneous_corner_velocity: 1000
max_extrude_only_accel: 1000
max_extrude_only_velocity: 75.0
pressure_advance: 0.032  # default pressure_advance: 0.041
pressure_advance_smooth_time : 0.05
#control = pid
#pid_kp = 18.646
#pid_ki = 0.949
#pid_kd = 91.600

[tmc2209 extruder]
uart_pin: PD9
run_current: 0.900
hold_current: 0.01
stealthchop_threshold: 999999
##interpolate: false 


########################################
# Bed Settings
########################################



[heater_bed]
heater_pin: PA0
sensor_pin: PC0
sensor_type: EPCOS 100K B57560G104F
min_temp: -5
max_temp: 120
#control = pid
#pid_kp = 74.957
#pid_ki = 2.524
#pid_kd = 556.559




########################################
# Filament Sensor Settings
########################################

[filament_switch_sensor filament_sensor]  
pause_on_runout: True
runout_gcode:
 PAUSE
  M400 #Wait for current moves to finish: 
  M117 Ejecting remaining filament
  G0 E-0.5 F300  
  G0 E-51F1200  #eject remaining filament 0 
  #insert_gcode: RESUME  
switch_pin: PA4

########################################
# Fans & Temp Settings
########################################

#berd air 
##[fan]
##pin: PB1
##cycle_time: 0.02
##shutdown_speed: 0.0
#hardware_pwm: true
##kick_start_time: 0.03
#cycle_time: 0.005
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
##off_below: 0.15

#CPAP
[fan]
pin: PE5
kick_start_time: 0.1
off_below: 0.2
cycle_time: 0.005
shutdown_speed: 0
max_power: 1
hardware_pwm: False


[duplicate_pin_override]
pins: PB1

[temperature_fan chamber]
pin:PB1
max_power: 1
#shutdown_speed:
#cycle_time:
hardware_pwm: False
#kick_start_time:
off_below:.25
#   See the "fan" section in example.cfg for a description of the
#   above parameters.
sensor_type: Generic 3950
sensor_pin:PC2
control : pid
pid_kp : 60
pid_ki : 1
pid_kd : 900
pid_deriv_time:120
min_temp:0
max_temp:90
#   See the "extruder" section in example.cfg for a description of the
#   above parameters.
target_temp: 35.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
max_speed: 1
min_speed: 0.1
gcode_id:C

[output_pin Chamber_fan]
pin:PB1
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.0
scale: 255
shutdown_value: 0.0





[heater_fan heat_sink_fan] 
pin: PB0
heater_temp: 50.0
cycle_time: 0.00004

[temperature_sensor Speeder_Pad]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[verify_heater extruder]
max_error: 500
hysteresis: 20

[verify_heater heater_bed]
max_error: 120
hysteresis: 5

#[temperature_sensor chamber]
#sensor_type: Generic 3950
#sensor_pin: PC2
#min_temp: 0
#max_temp: 100
#gcode_id: C


##############################
##   Bed mesh   ##
##############################


[delta_calibrate]
radius: 147
horizontal_move_z: 30
speed: 100


[probe]
pin:!PA11
x_offset: 0
y_offset: 0
#z_offset: 16 #the distance between nozzle and level switch
speed: 4
lift_speed: 10
samples: 3 #probe one point three times get an average
Sample_retract_dist: 3
samples_result: average
samples_tolerance: 0.02
samples_tolerance_retries: 10



[bed_mesh]
speed: 80
horizontal_move_z: 30 #This value is related to the lift height of the nozzle during bed_mesh
mesh_radius: 145
mesh_origin: 0,0
round_probe_count: 9 # 7*7
mesh_pps: 5,5
algorithm: bicubic
move_check_distance: 3
bicubic_tension: 0.1
split_delta_z: 0.025
zero_reference_position: 0,0
#fade_start: 1
#fade_end: 15
#relative_reference_index: 24 #16 # Mesh values: 6=5 points 24 = 9 point Its better to use  less points in most cases unless dealing with extreamly  uneven surfaces eg slight bubled stickers , chunky powercoat etc
#fade_start: 1
#fade_end: 15 



#################################
# Endstop testing #
#################################

[endstop_phase stepper_a]
endstop_align_zero: false

[endstop_phase stepper_b]
endstop_align_zero: false

[endstop_phase stepper_c]
endstop_align_zero: false 




########################################
# LED Settings
########################################

[output_pin LED_Hotend]
pin: PE12
pwm: False
value: 0  #0 = off ,1 = on

[output_pin LED_Logo]
pin: PD11
pwm: False
value: 1 #0 = off ,1 = on

[neopixel RGB]
pin: PB2
chain_count: 60
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

# EXP1 / EXP2 (display) pins
#[board_pins]
#aliases:
    # EXP1 header
#    EXP1_1=PC1, EXP1_3=PA4, EXP1_5=PA6, EXP1_7=PC4, EXP1_9=<GND>,
#    EXP1_2=PC3, EXP1_4=PA5, EXP1_6=PA7, EXP1_8=PC5, EXP1_10=<5V>,
    # EXP2 header
#    EXP2_1=PB14, EXP2_3=PB11, EXP2_5=PB0,  EXP2_7=PC10,  EXP2_9=<GND>,
#    EXP2_2=PB13, EXP2_4=PA15, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.633
#*# pid_ki = 2.140
#*# pid_kd = 582.721
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.152
#*# pid_ki = 1.538
#*# pid_kd = 59.611
#*#
#*# [probe]
#*# z_offset = 17.475
#*#
#*# [printer]
#*# delta_radius = 162.176219
#*#
#*# [stepper_a]
#*# angle = 209.981659
#*# arm_length = 345.000000
#*# position_endstop = 419.671118
#*#
#*# [stepper_b]
#*# angle = 329.964215
#*# arm_length = 345.000000
#*# position_endstop = 419.235359
#*#
#*# [stepper_c]
#*# arm_length = 345.000000
#*# position_endstop = 420.253517
#*# angle = 90.000000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.052993, -0.052993, -0.052993, -0.052993, -0.052993, -0.052993, -0.052993, -0.052993, -0.052993
#*# 	-0.023154, -0.023154, -0.023154, -0.041132, -0.027474, -0.016658, 0.113746, 0.113746, 0.113746
#*# 	0.014978, 0.014978, -0.036559, 0.015136, 0.037100, 0.062680, 0.030590, 0.082803, 0.082803
#*# 	0.042761, 0.042761, 0.052656, 0.075949, 0.041265, -0.002900, -0.017646, -0.028401, -0.028401
#*# 	0.018796, 0.012156, 0.041199, 0.031587, 0.000000, -0.001790, 0.013076, -0.023239, -0.073413
#*# 	0.010864, 0.010864, 0.047888, 0.066787, 0.027370, -0.009203, -0.044801, -0.049225, -0.049225
#*# 	-0.019019, -0.019019, -0.003650, 0.039719, 0.008427, 0.035145, 0.033481, 0.019209, 0.019209
#*# 	-0.075989, -0.075989, -0.075989, -0.018296, 0.053883, 0.022363, 0.063068, 0.063068, 0.063068
#*# 	0.084359, 0.084359, 0.084359, 0.084359, 0.084359, 0.084359, 0.084359, 0.084359, 0.084359
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = -145.0
#*# max_x = 145.0
#*# min_y = -145.0
#*# max_y = 145.0
#*#
#*# [endstop_phase stepper_a]
#*# trigger_phase = 42/256
#*#
#*# [endstop_phase stepper_b]
#*# trigger_phase = 120/256
#*#
#*# [endstop_phase stepper_c]
#*# trigger_phase = 173/256
#*#
#*# [delta_calibrate]
#*# height0 = 17.475
#*# height0_pos = 128707.000,128576.000,128870.000
#*# height1 = 17.475
#*# height1_pos = 154253.667,154098.667,116160.667
#*# height2 = 17.475
#*# height2_pos = 126674.333,168519.333,126811.333
#*# height3 = 17.475
#*# height3_pos = 116386.000,149716.333,150022.333
#*# height4 = 17.475
#*# height4_pos = 125539.333,125420.667,155672.000
#*# height5 = 17.475
#*# height5_pos = 146002.333,116864.000,146192.000
#*# height6 = 17.475
#*# height6_pos = 161580.000,125877.000,126163.000
#*#
#*# [bed_mesh petg]
#*# version = 1
#*# points =
#*# 	-0.089215, -0.089215, -0.089215, -0.089215, -0.089215, -0.089215, -0.089215, -0.089215, -0.089215
#*# 	-0.097207, -0.097207, -0.097207, -0.068563, -0.024541, -0.005547, 0.017817, 0.017817, 0.017817
#*# 	-0.020858, -0.020858, -0.018212, -0.032752, -0.008516, -0.017876, -0.006809, -0.004074, -0.004074
#*# 	0.002830, 0.002830, 0.024826, 0.030219, -0.034338, -0.030606, -0.055493, -0.061380, -0.061380
#*# 	-0.039711, -0.043400, -0.003930, -0.006999, 0.000000, -0.011170, -0.022743, -0.092297, -0.130010
#*# 	-0.038357, -0.038357, -0.003957, 0.054862, -0.003958, -0.001618, -0.063314, -0.080822, -0.080822
#*# 	-0.066898, -0.066898, -0.032214, -0.041743, -0.000762, -0.013467, -0.024158, -0.020722, -0.020722
#*# 	-0.115920, -0.115920, -0.115920, -0.036337, 0.024368, -0.002971, 0.009595, 0.009595, 0.009595
#*# 	0.083939, 0.083939, 0.083939, 0.083939, 0.083939, 0.083939, 0.083939, 0.083939, 0.083939
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = -145.0
#*# max_x = 145.0
#*# min_y = -145.0
#*# max_y = 145.0
